header{
	background-color: #FFB914;
	color:white;
	height:50px;
	text-align: center;
	vertical-align: middle;
	position:relative;
	width:100%;
	
}

body {margin:0px;
	padding:0px;
	background-image:  url("bg.jpg");
	}
	
.controls{
	vertical-align: middle;
	text-align:right;
	padding-top: 12px;
	padding-right: 10px;
}
	
.logo {
	float:left;
	display:block;
	font-size: 32px;
	padding-top: 12px;
	padding-left: 15px;
}
.content {
	background-color: white;
	position: relative;
	padding: 20px;
	margin: 50px;
	text-align: center;
	display: block;
	
}
#myDiv 
{
  height:720px;
  width:1200px;
}
#myDiv img
{
  max-width:100%; 
  max-height:100%;
  margin:auto;
  display:block;
}
